*{
    margin: 0;
    padding: 0;
}
body {
    background: #f0f0f0;
}
.areaPrincipal {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 0.85;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -moz-background-size: 100% 100% ;
    background-size: 100% 100%;
}
#encabezado {
    background: #000000;
    height: 250px;
    text-align: center;
    background-image: url(../img/Logo.jpg);
    background-repeat: no-repeat;
    background-size: 280px 250px;
    background-position: center center;
}
#menu {
    height: 100px;
    position: absolute;
    top: 202px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #33333300;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
#datos {
    width: 80%;
    background-color: #ffffff75;
    height: 600px;
    margin: auto;
    padding: 10px;
    opacity: 1;
    color: #2a3e55;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.piePagina {
    width: 100%;
    height: 100px;
    background: #15101b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    position: relative;
    bottom: 0;
    left: 0;
}

.tabla-productos {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: transparent; 
}

.tabla-productos th, .tabla-productos td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tabla-productos th {
    background-color: #333;
    color: white;
}

.tabla-productos td {
    font-size: 1.2em;
    color: #333;
}
.producto-img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

